

.calen {
  position: absolute;
  top:30%;
  left: 50%;
  /* margin: 50%; */
  transform: translate(-50%, -50%)
  /* margin: auto; */
  /* right:200px; */
}

.calen.box {
  /* position: relative; */
  top: 50%;

}
