

.calen {
  position: absolute;
  top:30%;
  left: 50%;
  /* margin: 50%; */
  transform: translate(-50%, -50%)
  /* margin: auto; */
  /* right:200px; */
}

.calen.box {
  /* position: relative; */
  top: 55%;

}

.bbb input[type=text] {

    border-radius: 4px;
    border-style: solid;
    border-color:  #b8c6db;
    margin: 0;
    position: relative !important;
    /* float: right; */
    width: 250px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: #3c454c;
    z-index: 5;
    bottom: 20px;
    /* background-color: 'blue'; */
    content: none;
    visibility: visible !important;

    background-color: #fff;
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}


.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; transition: 0.3s;}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
/* .btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; } */
.btn:hover {opacity: 0.9;}
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }

.btn-primary.active { color: rgba(255, 255, 255, 0.75);}

.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
background-image: -webkit-gradient(linear, 0 0, 0 100% from(#6eb6de), to(#4a77d4));
background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
background-image: linear-gradient(top, #6eb6de, #4a77d4);
background-repeat: repeat-x;
filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

.submit {
  height:50px;
  background:  -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  border: 0px !important;
  font-size: 15px;
  font-weight: bold;
}



.list {
/*
  right: 50%; */
  position: absolute;
  top: 65%;
  text-align: center;
}

.list p {
  font-size: 28px;
  color: #3c454c;

  text-shadow:1px 1px #b8c6db;
}

.suggBox {
  width: 50%;
  height: 170px;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding: 1px 20px;
  display: inline-block;
  margin: 10px;
  word-wrap: break-word;
}

.suggTitle {
  color: black;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

.suggTitle h5 {
  font-size: 15px;
  color:#a1a8b5;
  font-style: italic;
  position: absolute;
  bottom: 75px;
  /* text-shadow:1px 1px #b8c6db; */

}
.event a:link{
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 4px;
  transition: opacity 0.2s ease;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.event a:visited {
  text-decoration: none;
  color: white;

}

.event a:hover, a:active{
  /* background-color: #b8c6db; */
  opacity: 0.6;
  /* background-color: #60a2ff; */


}

/* .restaurant {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

} */

.restaurant a:link{
  position: absolute;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.2s ease;
  border-radius: 4px;
  background-color: #fc9842;
  background: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}


.restaurant a:visited {
  text-decoration: none;
  color: white;

}
.restaurant a:hover, a:active{
  /* background-color: #ff6060; */
  /* background-color: #fc9842; */
  opacity: 0.6;
  /* background-color: #fc0505; */

}

.times {
  font-size: 30px;
  position: absolute;
  right: 25px;
}

/* .rating {
  position: absolute;


} */

.rating h3 {
  position: absolute;
  top: 9px;
  right: 90px;

}

.rating h4 {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 35px;
  color: #939fb2;
  font-style: italic;
}

.image {
  position: absolute;
  bottom: 10px;
  right: 20px;
  box-shadow:#a1a8b5 2px 2px;  
}
