<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dating Suggestions App</title>
    <link rel="stylesheet" href="/static/login.css">


  </head>

  <body align="center">

    <h1> Welcome! </h1>

    <form class="form-login" method="POST">

      <!-- UNCOMMENT WHEN DONE TESTING -->
      <!-- Email: <input type="email" name="email2"><br> -->
      Email: <input type="text" name="email2"><br>
      Password: <input type="text" name="pass2"><br>
      <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me or Don't
          </label>
        </div>

      <button class="btn btn-lg btn-secondary btn-block" type="submit">Log in</button>

    </form>
    <br>
    <div>
      <p text="align-center">
          {{message2}}
      </p>
    </div>

</body>



</html>
