<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dating Suggestions App</title>
    <link rel="stylesheet" href="/static/login.css">


  </head>

  <body>
    <div class='welcome'>
      <h1> Nite Out </h1>
    </div>
    <div class='login'>
      <h1> Welcome Back! </h1>

      <form class="form-login" method="POST">

        <!-- UNCOMMENT WHEN DONE TESTING -->
        <!-- Email: <input type="email" name="email2"><br> -->
        <input type="text" name="email" placeholder="Email"><br>
        <input type="text" name="pass" placeholder="Password">
          <p text="align-center">
              {{message}}
          </p>


        <button class="btn btn-primary btn-block btn-large" type="submit">Log in</button>

      </form>
    </div>
    <div id="copy">
      <p>&copy; 2019 Rodrigo Palmaka<p>
    </div>


</body>



</html>
