<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dating Suggestions App</title>
    <link rel="stylesheet" href="/static/login.css">

  </head>

    <body>
      <h1> Welcome! </h1>

      <form class="form-signup" method="POST">
        <!-- UNCOMMENT WHEN DONE TESTING -->
        <!-- Email: <input type="email" name="email1"><br> -->
        Email: <input type="text" name="email1"><br>
        Password: <input type="text" name="pass1"><br>
        <div class="checkbox mb-3">

          </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>


      </form>
      <br>
      <div>
        <p text="align-center">
            {{message}}
        </p>
      </div>
    </body>





</html>
