<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dating Suggestions App</title>
    <link rel="stylesheet" href="/static/login.css">

  </head>


  <body>
      <div class='welcome'>
        <h1> Nite Out </h1>
      </div>

      <div class='login'>
        <h1> Sign Up </h1>

          <form class="form-signup" method="POST">
            <!-- UNCOMMENT WHEN DONE TESTING -->
            <!-- Email: <input type="email" name="email1"><br> -->
            <input type="text" name="email" placeholder="Email"><br>
            <input type="text" name="pass" placeholder="Password">
              <p>
                  {{message}}
              </p>
            <button class="btn btn-primary btn-block btn-large" type="submit">Sign Up</button>
          </form>
            <a href="{{ url_for('log') }}"> already have an account?  </a>
          <br>



      </div>
      <div id="copy">
        <p>&copy; 2019 Rodrigo Palmaka<p>
      </div>
  </body>





</html>
